<div class="fondo">
<div class="homepage-container">
  <header>
    <app-sidenav></app-sidenav>
    <h1>ASAPDROPS</h1>
    <button class="cart-button">🔍 </button>
  </header>
  <div class="hero-container">
    <img src='assets/font-image.jpeg' alt="Hero Image" class="hero-image" />
    <div class="hero-overlay">
      <h2 class="hero-title">THE II BASKETBALL</h2>
      <button class="shop-button">SHOP</button>
      

    </div>
  </div>


  


<div class="card-container">
  <button class="card">
    <h2>ASAPDROPS</h2>
  </button>

  <button class="card">
    <h2>🦋</h2>
  </button>

  <button class="card">
    <h2>SUERTE AMERICANA</h2>
  </button>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Contacto</h3>
        <p>Email:</p>
        <p>Teléfono: +123 456 7890</p>
    </div>
    <div class="footer-section">
      <h3>Ubicación</h3>
      <p>123 Calle Principal</p>
      <p>Ciudad, País</p>
    </div>
    <div class="footer-section">
      <h3>Síguenos</h3>
      <a href="https://www.instagram.com/asapdropsk23/#"> <i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/asapdropsk23/#"> <i class="fa-brands fa-x-twitter"></i></a>
     <a href="https://www.instagram.com/asapdropsk23/#"> <i class="fa-brands fa-instagram"></i> </a>
    </div>
    <div class="footer-credits">
      <p>© 2025 ASAPDROPS</p>
      <p>Created by Galiasmu</p>
    </div>
  </div>
</footer>
</div>